/* This is where my CSS styles are going to go! */
.navbar-custom {
  background-color: #a7d6e8;
}
.bg-custom{
  background-color: #cbafe3;
}
.flower{
  height: 50px;
}
.card-text{
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
}
